<!-- PARAMS: `comment` & `postID` -->
<%- include('../partials/header.ejs') %>

    <!-- NOT USED (REPLACED BY MODAL) -->

    <div class="container">
        <div class="inner container">
            <div class="card border-info">
                <div class="card-body">
                    <h1>Edit Comment</h1>
                    <form action="/camps/<%= postID %>/comments/<%= comment._id %>?_method=PUT" method="POST">
                        <div class="form-group">
                            <label>Content</label>
                            <textarea type="text" class="form-control"  rows="6" name="updatedComment[content]"><%= comment.content %></textarea>
                        </div>
                        <button type="submit" class="submit-btn btn btn-primary">Submit</button>
                        <a class="btn btn-outline-warning" href="/camps/<%= postID %>/">Cancel</a>
                    </form>
                    <form class="delete-inline" action="/camps/<%= postID %>/comments/<%= comment._id %>?_method=DELETE" method="POST"><button type="submit" class="btn btn-primary btn-outline-danger btn-sm">DeleteComment</button></form>
                </div>
            </div>
        </div>
    </div>

<%- include('../partials/footer.ejs') %>
